[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-cmdb = ">=1.31"
ansible-core = ">=2.16.8"
dnspython = ">=2.3.0"
#jmespath = "==0.10.0"
zabbix-api = ">=0.5.5"
netaddr = ">=0.8.0"
#awscli = ">=1.29.47" # OK >=1.27.165
#awscli-plugin-endpoint = ">=0.4"
cryptography = ">=42.0.8"

[dev-packages]
ansible-lint = {extras = ["yamllint"], version = ">=6.17.2"}
ansible-navigator = ">=1.1.0"
ansible-runner = ">=2.2.1"
ansible-builder = ">=1.1.0"
ansible-playbook-grapher = ">=1.1.0"
bindep = ">=2.11.0"
checkov = ">=3.2.128"
semgrep = ">=1.15.0"
#pipenv = ">=2023.7.23"
pre-commit = ">=2.20.0"
pre-commit-hooks = ">=4.4.0"
#git-pre-commit-hook-utils = ">=0.0.5"
# yamllint = "~=6.17.2"
pyyaml = ">=5.4.1"

[requires]
python_version = "3.11"
